<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.just.print">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.just.print.app.Applic"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_d"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.just.print.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.just.print.net.UDPService" />

        <!--activity android:name="com.just.print.ui.activity.ConfigActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.just.print.ui.activity.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name="com.just.print.ui.activity.OrderActivity" android:screenOrientation="portrait" /-->
        <activity android:name="com.just.print.ui.activity.ConfigActivity"/>
        <activity android:name="com.just.print.ui.activity.LoginActivity"/>
        <activity android:name="com.just.print.ui.activity.OrderActivity"/>
        <activity
            android:name=".ui.activity.SildingMenuListViewDemo"
            android:label="@string/title_activity_silding_menu_list_view_demo"  android:screenOrientation="portrait"/>
        <activity
            android:name="com.just.print.Activate" android:screenOrientation="portrait"
            android:label="@string/title_activity_activate"></activity>
    </application>

</manifest>